.nav {
  position: fixed;
  width: 100vw;
  height: 94px;
  left: 0px;
  top: 0px;
  z-index: 10;

  background: #333438;
}
.logo {
  position: absolute;
  width: 128px;
  height: 35px;
  left: 295px;
  top: 29px;
}
@media screen and (max-width: 950px) {
  .logo {
    left: 100px;
  }
}
@media screen and (max-width: 750px) {
  .logo {
    left: 100px;
  }
}
@media screen and (max-width: 550px) {
  .logo {
    left: 80px;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    left: 50%;
    transform: translateX(-50%);
  }
}
