.WeAre_Page {
  position: relative;
  width: 100vw;
  height: 2450px;
  /* top: 1000px; */
}

.we_are_ {
  position: absolute;
  width: 667.65px;
  height: 162px;
  left: 184.04px;
  top: 299.78px;

  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;

  color: #13153a;
}

.we_are_pan {
  position: absolute;
  width: 618.07px;
  height: 200px;
  left: 184.04px;
  top: 440.26px;

  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;

  /* or 167% */

  color: #666666;
}

.city_img {
  position: absolute;
  width: 1104px;
  height: 628px;
  right: 0;
  top: 120px;
}

.invest_container {
  position: absolute;
  width: 100vw;
  height: 415px;
  left: 0;
  top: 748px;

  background: #e6eecf;

  /* Inside auto layout */
  /* flex: none;
  order: 2;
  flex-grow: 0; */
}

.invest_invest {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 240px;

  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 120px;
  text-align: center;
  /* background-color: #fff; */

  color: #13153a;
}

.weAre_grid_containers {
  position: absolute;
  top: 1273px;
  left: 50%;
  transform: translateX(-50%);
  width: 1050px;
  height: 668px;
}

.green_grid {
  position: absolute;
  top: 0px;
  left: 62.5px;
  width: 420px;
  height: 472px;
  background: #404430;
  backdrop-filter: blur(17px);
  border-radius: 22px;
}
.green_grid p {
  position: absolute;
  width: 349.45px;
  height: 480px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;

  /* or 222% */

  color: #ffffff;
}

.white_grid {
  position: absolute;
  top: 0;
  right: 62.5px;
  width: 420px;
  height: 472px;
  background: rgba(221, 221, 221, 0.5);
  backdrop-filter: blur(10.5px);
  border-radius: 22px;
}

.white_grid p {
  position: absolute;
  width: 349.45px;
  height: 480px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;

  /* or 222% */

  color: #404430;
}

.z_index_bottom_grid {
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 550px;
  background: rgba(221, 221, 221, 0.2);
  backdrop-filter: blur(9.5px);

  border-radius: 25px;
  z-index: -5;
}

.z_index_bottom_grid p {
  position: absolute;
  width: 500px;
  height: 96px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;

  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  color: #13153a;
}

/*  inverted c shape */
.vectorc1 {
  position: absolute;
  top: 1250px;
  width: 1000px;
  height: auto;
}

/*  inverted c shape */
.vectorc2 {
  position: absolute;
  top: 1250px;
  width: 1100px;
  height: auto;
}

.half_oval {
  position: absolute;
  top: 1420px;
  width: 739px;
  height: auto;
  right: 0;
}

/* ======reponsiveness======= */
@media screen and (max-width: 1200px) {
  .vectorc1 {
    width: 700px;
  }
  .vectorc2 {
    width: 800px;
  }
  .half_oval {
    width: 700px;
  }
}

@media screen and (max-width: 1000px) {
  .vectorc1 {
    width: 600px;
  }
  .vectorc2 {
    width: 700px;
  }
  .half_oval {
    width: 600px;
  }
}

@media screen and (max-width: 800px) {
  .vectorc1 {
    width: 500px;
  }
  .vectorc2 {
    width: 600px;
  }
  .half_oval {
    width: 500px;
  }
}
