.home_page {
  position: relative;
  width: 100vw;
  height: 1000px;
  font-family: "Gotham";
}

.home_img {
  position: absolute;
  width: 1483.49px;
  height: 776.4px;
  left: 0;
  top: 0;
  opacity: 0.5;
}

.phoneImg {
  position: absolute;
  top: 131px;
  left: 50%;
  transform: translateX(-50%);
  width: 588px;
  height: 472px;
}

.Linking {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 576px;
  width: 1168.73px;
  height: 240px;
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 120px;
  text-align: center;
  color: #13153a;
}

.fueling_ {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 837.99px;
  width: 678.5px;
  height: 80px;

  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #666666;
}

.home_button {
  position: absolute;
  width: 292px;
  height: 60px;
  left: 50%;
  transform: translateX(-50%);
  top: 939.99px;
  background: #404430;
  border-radius: 72px;
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
}
