.home_page {
  width: 100%;
  font-family: "Gotham";
}

.home_img {
  position: relative;
  width: 80%;
  height: 776.4px;
  left: 0;
  top: 0;
  opacity: 0.5;
}

.home_container {
  position: relative;
  height: 1080px;
  width: 100%;
}
.phoneImg {
  position: absolute;
  top: 131px;
  left: 50%;
  transform: translateX(-50%);
  width: 588px;
  height: 472px;
}

.Linking {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 576px;
  width: 1168.73px;
  height: 240px;
  font-family: "Advent Pro UltraExpanded";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 120px;
  text-align: center;
  color: #13153a;
  /*  */
}

.fueling_ {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 837.99px;
  width: 678.5px;
  height: 80px;

  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #666666;
}

.home_button {
  position: absolute;
  width: 292px;
  height: 60px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 80px;
  background: #404430;
  border-radius: 72px;
  font-family: "Advent Pro UltraExpanded";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.home_button:hover {
  background: #13153a;
  transition: 0.3s ease-in-out;
}
.aboutLink {
  position: absolute;
  bottom: 100px;
}
@media screen and (max-width: 1310px) {
  .Linking {
    width: 78vw;
    font-weight: 600;
  }
}

@media screen and (max-width: 900px) {
  .Linking {
    width: 90vw;
  }
  .fueling_ {
    width: 80vw;
  }
}
@media screen and (max-width: 800px) {
  .home_container {
    height: 1100px;
  }
}
@media screen and (max-width: 792px) {
  .Linking {
    font-size: 80px;
  }
  .phoneImg {
    width: 60%;
  }
}
@media screen and (max-width: 720px) {
  .Linking {
    font-size: 80px;
  }
  .aboutLink {
    position: absolute;
    bottom: 0;
  }
}
@media screen and (max-width: 635px) {
  .Linking {
    font-size: 75px;
  }
}

@media screen and (max-width: 600px) {
  .Linking {
    font-size: 70px;
  }
  .home_button {
    bottom: 20px;
  }
  .home_container {
    height: 1200px;
  }
}

@media screen and (max-width: 570px) {
  .Linking {
    font-size: 69px;
  }
}
@media screen and (max-width: 550px) {
  .Linking {
    font-size: 65px;
  }
}
@media screen and (max-width: 515px) {
  .Linking {
    font-size: 60px;
  }
}
@media screen and (min-width: 501px) {
  .mobile_home_img {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .home_container {
    height: 850px;
  }
  .home_img {
    display: none;
  }
  .Linking {
    padding-top: 0;
    width: 300px;
    height: 162px;
    font-size: 55px;
    top: 349.86px;
    line-height: 54px;
  }
  .fueling_ {
    top: 540px;
    width: 300px;
    font-size: 20px;
  }
  .home_button {
    width: 50vw;
    height: 53px;
    bottom: 80px;
  }

  .phoneImg {
    top: 120px;
    width: 279px;
    height: 226px;
  }
  .mobile_home_img {
    top: 65px;
    position: absolute;
    width: 100vw;
    height: 754px;
  }
}

@media screen and (max-width: 400px) {
  .home_container {
    height: 754px;
  }
  .mobile_home_img {
    height: 680px;
  }
  .Linking {
    width: 250px;
    font-family: "Advent Pro UltraExpanded";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #13153a;
  }
  .fueling_ {
    width: 244.9px;
    height: 54px;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #666666;
  }
}
