.investments_page {
  position: relative;
  width: 100%;
  height: 1856px;
}

.investments_container {
  position: absolute;
  width: 1152px;
  height: 1337px;
  right: 363px;
}

.as_of_March {
  position: absolute;
  width: 1594px;
  height: 189px;
  top: 1473px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(221, 221, 221, 0.2);
  border: 1px solid #aeaeae;
  backdrop-filter: blur(5px);
}

.as_of_March p {
  position: absolute;
  width: 867px;
  height: 84px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  color: #13153a;
}

.competion_ {
  position: absolute;
  right: 0;
  top: 0;
  width: 528px;
  height: 583px;
  background: rgba(221, 221, 221, 0.5);
  box-shadow: 19px 19px 32px -2px rgba(54, 36, 36, 0.05);
  backdrop-filter: blur(17px);
  border-radius: 22px;
  text-align: center;
  color: #13153a;
}

.BusinessModel {
  position: absolute;
  width: 528.15px;
  height: 614.68px;
  right: 0px;
  bottom: 0px;
  background: rgba(94, 94, 94, 0.5);
  box-shadow: 8px 22px 36px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17px);
  border-radius: 25px;
  text-align: center;
  color: #13153a;
}

.marketSize {
  position: absolute;
  width: 535px;
  height: 616px;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #404430;
  backdrop-filter: blur(17px);
  border-radius: 22px;
  text-align: center;
  color: #3a1613;
}

.mcb_images {
  position: absolute;
  top: 69px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 130px;
}

.mcb_headers {
  position: absolute;
  width: 290.96px;
  height: 29px;
  left: 118.6px;
  top: 214.9px;
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.mcb_p {
  position: absolute;
  width: 391px;
  height: 216.72px;
  left: 50%;
  transform: translateX(-50%);
  top: 252.73px;

  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  /* or 188% */
  text-align: center;
}

.investmentsDots_image {
  position: absolute;
  width: 1078.34px;
  top: 0;
  left: 0;
}

.investments_lines {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
}
