.investments_page {
  position: relative;
  width: 100%;
  height: 1856px;
}

.investments_container {
  position: absolute;
  width: 1152px;
  height: 1337px;
  left: 50%;
  transform: translateX(-50%);
}

.as_of_March {
  position: absolute;
  width: 1594px;
  height: 189px;
  top: 1473px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(221, 221, 221, 0.2);
  border: 1px solid #aeaeae;
  backdrop-filter: blur(5px);
  /* border-radius: 10px; */
  box-shadow: #000 0px 0px 0px 1px inset;
  z-index: 1;
}

.as_of_March_p {
  position: absolute;
  width: 867px;
  height: 84px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  color: #13153a;
}

.competion_ {
  position: absolute;
  right: 0;
  top: 0;
  width: 528px;
  height: 583px;
  background: rgba(221, 221, 221, 0.5);
  box-shadow: 19px 19px 32px -2px rgba(54, 36, 36, 0.05);
  backdrop-filter: blur(17px);
  border-radius: 22px;
  text-align: center;
  color: #13153a;
}
.competion_:hover {
  background: rgba(94, 94, 94, 0.5);
  box-shadow: 8px 22px 36px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
}

.BusinessModel {
  position: absolute;
  width: 528.15px;
  height: 614.68px;
  right: 0px;
  bottom: 0px;
  background: rgba(94, 94, 94, 0.5);
  box-shadow: 8px 22px 36px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17px);
  border-radius: 25px;
  text-align: center;
  color: #13153a;
}

.BusinessModel:hover {
  background: rgba(221, 221, 221, 0.5);
  box-shadow: 19px 19px 32px -2px rgba(54, 36, 36, 0.05);
  transition: 0.3s ease-in-out;
}

.marketSize {
  position: absolute;
  width: 535px;
  height: 616px;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #404430;
  backdrop-filter: blur(17px);
  border-radius: 22px;
  text-align: center;
  color: #cfdea0;
}

.marketSize:hover {
  background: rgba(94, 94, 94, 0.5);
  box-shadow: 8px 22px 36px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
  color: #000;
  font-weight: 700;
}

.mcb_images {
  position: absolute;
  top: 69px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 130px;
}

.mcb_headers {
  position: absolute;
  width: 290.96px;
  height: 29px;
  left: 50%;
  transform: translateX(-50%);
  top: 214.9px;
  font-family: "Advent Pro UltraExpanded";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.mcb_p {
  position: absolute;
  width: 391px;
  height: 216.72px;
  left: 50%;
  transform: translateX(-50%);
  top: 252.73px;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.investmentsDots_image {
  position: absolute;
  width: 1078.34px;
  top: 0;
  left: 0;
}

.investments_lines {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
}

@media screen and (max-width: 1500px) {
  .as_of_March {
    width: 95vw;
  }
  .as_of_March_p {
    width: 80vw;
    height: auto;
  }
  .investments_container {
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
  }
  .competion_ {
    width: 45%;
  }
  .BusinessModel {
    width: 45%;
  }
  .marketSize {
    width: 45%;
  }
  .mcb_p {
    width: 95%;
  }
  .investmentsDots_image img {
    width: 90vw;
  }
}

@media screen and (max-width: 950px) {
  .as_of_March {
    top: 1550px;
  }
  .mcb_images {
    width: 150px;
    height: 120px;
  }
}

@media screen and (max-width: 850px) {
  .competion_ {
    width: 45%;
  }
  .BusinessModel {
    width: 45%;
  }
  .marketSize {
    width: 45%;
  }
  .mcb_p {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .investments_container {
    width: 90vw;
  }
  .competion_ {
    width: inherit;
    height: 420px;
  }
  .BusinessModel {
    width: inherit;
    height: 420px;
  }
  .marketSize {
    width: inherit;
    height: 420px;
  }
}

@media screen and (max-width: 700px) {
  .mcb_images {
    width: 130px;
    height: 110px;
    top: 40px;
  }
  .mcb_headers {
    top: 160px;
  }
  .mcb_p {
    top: 200px;
    width: 90%;
  }
}

@media screen and (max-width: 580px) {
  .investments_page {
    padding-top: 30px;
  }
  .investments_container {
    height: 1400px;
  }
  .competion_,
  .BusinessModel,
  .marketSize {
    height: 450px;
  }
}

@media screen and (max-width: 520px) {
  .mcb_images {
    width: 130px;
    height: 110px;
    top: 20px;
  }
  .mcb_headers {
    top: 140px;
  }
  .mcb_p {
    top: 180px;
    width: 90%;
  }
  .investments_container {
    height: 1450px;
  }
  .competion_,
  .BusinessModel,
  .marketSize {
    height: 470px;
  }
  .as_of_March_p {
    font-family: "Gotham";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (min-width: 416px) {
  .mobile_investments_lines {
    display: none;
  }
}

@media screen and (max-width: 415px) {
  .investments_page {
    height: 1600px;
  }
  .investments_container {
    width: 292px;
    height: 1290px;
  }
  .competion_,
  .BusinessModel,
  .marketSize {
    left: 0;
    width: 292px;
    height: 420px;
  }
  .mcb_headers {
    top: 133.83px;
    font-family: "Advent Pro UltraExpanded";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }
  .mcb_p {
    position: absolute;
    top: 171.66px;
    width: 252.72px;
    height: 153.82px;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .as_of_March {
    top: 1380px;
    width: 330px;
    height: 142px;
    background: rgba(221, 221, 221, 0.2);
    backdrop-filter: blur(5px);
  }
  .as_of_March_p {
    width: 270.38px;
    height: 85.87px;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }
  .investments_lines {
    display: none;
  }
  .mobile_investments_lines {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 40px;
  }
}

@media screen and (max-width: 375px) {
  .mcb_p {
    font-size: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
  .mcb_headers {
    width: 188.06px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }
  .as_of_March {
    width: 95vw;
  }
  /* .BusinessModel{
    width: 95vw;
  } */
}
@media screen and (max-width: 300px) {
  .investments_container {
    width: 95vw;
  }
  .marketSize,
  .competion_,
  .BusinessModel {
    width: inherit;
  }
}
