.team_page {
  position: relative;
  width: 100%;
  height: 1419px;
}

.the_team {
  position: absolute;
  width: 100%;
  height: 259px;
  background: #e6eecf;
}

.meet_the_team {
  position: absolute;
  width: 1168.73px;
  height: 78px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  font-family: "Advent Pro UltraExpanded";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 78px;
  text-align: center;
  color: #13153a;
}

.the_team_lines img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.member_grid_container {
  position: absolute;
  width: 1361px;
  height: 778px;
  top: 334px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#gridtop {
  position: absolute;
  width: inherit;
  height: 388px;
  top: 0;
  display: flex;
  justify-content: space-between;
}

#gridbottom {
  position: absolute;
  width: inherit;
  height: 388px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.member_card {
  position: relative;
  width: 327px;
  height: 388px;
  cursor: pointer;
  transition: all 0.5 ease-in-out;
}

.member_card_container {
  position: absolute;
  top: 50px;
  width: 216.67px;
  height: 216.67px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5 ease-in-out;
}

.big_image_container {
  position: absolute;
  width: 209.67px;
  height: 209.67px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #fff;
  border: 5px solid #414430;
  transition: all 0.5 ease-in-out;
}

.big_image_ img {
  position: absolute;
  top: 11px;
  width: 180px;
  height: 180px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.5 ease-in-out;
}

.small_image_container {
  position: absolute;
  top: 0;
  right: 0;
  width: 63.3px;
  height: 63.3px;
  background: #414430;
  z-index: -1;
  border-radius: 50%;
  transition: all 0.5 ease-in-out;
}
.small_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 56.15px;
  height: 56.15px;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.5 ease-in-out;
}

.member_name_descrip {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 54px;
  width: 293.65px;
  height: 58px;
  transition: left 0.3s ease;
}

.member_name {
  position: relative;
  font-family: "Advent Pro UltraExpanded";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  left: 50%;
  transform: translateX(-50%);
  color: #13153a;
  width: max-content;
}
.member_descrip {
  position: relative;
  bottom: 0;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.onhover_membercard {
  position: relative;
  width: 200px;
  height: auto;
  top: 50px;
  left: 0;
}

.onhover_membercard_descrip {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 190px;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #666666;
  transition: all 0.5 ease-in-out;
}

/* Initially hide the onhover_membercard & small_image */
.onhover_membercard,
.small_image {
  display: none;
}

/* onhover Show the onhover_membercard */
.member_card:hover .onhover_membercard {
  display: block;
}
/* onhover Show the small_image */
.member_card:hover .small_image {
  display: block;
}

/* onhover hide the big_image_container */
.member_card:hover .big_image_container {
  display: none;
  transform: 0.3s ease-in-out;
}

/* onhover hide the member_name_descrip */
.member_card:hover .member_name_descrip {
  display: none;
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-80px);
  }
  100% {
    transform: translateX(-50%); /* Adjust the value as needed */
  }
}
.member_card:hover .member_name {
  animation-name: moveLeftRight;
  animation-duration: 0.3s; /* Adjust the duration as needed */
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transition: all 0.5 ease-in-out;
}

@keyframes enlargeImage {
  0% {
    width: 180px;
    height: 180px;
  }
  50% {
    width: 200px;
    height: 200px;
  }
  100% {
    width: 220px;
    height: 220px;
  }
}

@keyframes moveImage {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(calc(-50% - 50px), -50%);
  }
  100% {
    transform: translate(-50%, -50%);
    display: none;
  }
}

.member_card:hover .big_image_ img {
  animation-name: enlargeImage, moveImage;
  animation-duration: 0.5s, 5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out, ease-in-out;
}

@media screen and (max-width: 1500px) {
  .member_grid_container {
    width: 90vw;
  }
  .the_team_lines img {
    width: 90%;
  }
  .meet_the_team {
    width: inherit;
  }
  .team_page {
    height: 1250px;
  }
}

@media screen and (max-width: 1000px) {
  .member_name_descrip {
    width: 200px;
  }
  .member_card_container {
    width: 190px;
    height: 190px;
  }
  .big_image_container {
    width: 190px;
    height: 190px;
    transition: all 0.5 ease-in-out;
  }
  .big_image_ img {
    width: 170px;
    height: 170px;
    top: 5.5px;
    transition: all 0.5 ease-in-out;
  }
  .member_card {
    width: 237px;
  }
  .small_image_container {
    width: 60px;
  }
  /* .onhover_membercard {
    width: 150px;
    height: 345px;
  } */

  .onhover_membercard_descrip {
    width: inherit;
    height: max-content;
  }
  .member_card:hover .small_image_container {
    right: -50px;
  }
}

@media screen and (max-width: 900px) {
  .meet_the_team {
    font-size: 60px;
  }
}
@media screen and (max-width: 800px) {
  .meet_the_team {
    font-size: 55px;
  }
}
@media screen and (min-width: 701px) {
  .member_card_mobile {
    display: none;
  }
  .member_card {
    display: block;
  }
  .mobile_member_grid_container {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .team_page {
    height: 600px;
  }

  .mobile_member_grid_container {
    position: absolute;
    top: 220px;
    height: auto;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
  }

  .member_card_mobile {
    position: relative;
    padding-top: -10px;
    top: 10px;
    width: auto;
    height: 360px;
    z-index: 1;
    transition: height 0.5 ease-in-out;
  }
  .member_card_mobile:hover {
    height: 390px;
  }
  /* onhover Show the onhover_membercard */
  .member_card_mobile:hover .onhover_membercard {
    display: block;
  }
  /* onhover Show the small_image */
  .member_card_mobile:hover .small_image {
    display: block;
  }

  /* onhover hide the big_image_container */
  .member_card_mobile:hover .big_image_container {
    display: none;
  }

  /* onhover hide the member_name_descrip */
  .member_card_mobile:hover .member_name_descrip {
    display: none;
  }

  .member_card_mobile:hover .big_image_ img {
    animation-name: moveImage;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .member_card_mobile:hover .member_name {
    animation-name: moveLeftRight;
    animation-duration: 0.3s; /* Adjust the duration as needed */
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  /* .team_page.readbio {
    height: 600px;
  }
  .team_page.collapse {
    height: 600px;
  } */
  .ReadBio_btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    font-family: "Gotham";
    font-style: italic;
    font-weight: 300;
    font-size: 9px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #717171;
    background: none;
    border: none;
    cursor: pointer;
  }
  .collapse_btn {
    position: absolute;
    left: 60px;
    bottom: 20px;
    font-family: "Gotham";
    font-style: italic;
    font-weight: 300;
    font-size: 10px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #717171;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
  }
  .collapse_btn.open {
    display: block;
  }

  .collapse_btn.close {
    display: none;
  }

  .meet_the_team {
    font-size: 50px;
  }
  .member_grid_container,
  .member_card,
  .gridbottom,
  .gridtop,
  .the_team_lines {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .meet_the_team {
    font-size: 45px;
  }
}

@media screen and (max-width: 500px) {
  .the_team {
    height: 210px;
  }
  .meet_the_team {
    font-size: 40px;
  }
  .mobile_member_grid_container {
    /* top: 250px; */
    width: 400px;
  }
}

@media screen and (max-width: 412px) {
  .mobile_member_grid_container {
    width: 327px;
    top: 200px;
  }
  .team_page {
    height: 620px;
  }
}

@media screen and (max-width: 350px) {
  .mobile_member_grid_container {
    width: 99vw;
  }
}
